<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.zjrb.zjxw.detailproject">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--录音权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!-- umeng permission start -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- umeng permission end -->

    <!-- 高德地图权限 -->
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!--普通详情页 保持在栈顶 -->
        <activity
            android:name=".nomaldetail.NewsDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/data_scheme" />
                <data android:scheme="@string/data_scheme_https" />

                <!--普通详情 path -->
                <data android:path="/news.html" />
                <!--视频详情 path -->
                <data android:path="/video.html" />
                <!--活动详情 path -->
                <data android:path="/activity.html" />

                <data android:host="@string/data_host" />

                <!--以下测试 host -->
                <data android:host="@string/data_host_dev" />
                <data android:host="@string/data_host_test" />
                <data android:host="@string/data_host_pre" />
                <data android:host="@string/data_host_real" />
            </intent-filter>
        </activity>

        <!--链接稿-->
        <activity
            android:name=".link.BrowserLinkActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/data_scheme" />
                <data android:scheme="@string/data_scheme_https" />

                <!--链接稿 path-->
                <data android:path="/link.html" />
                <!--直播稿 path-->
                <data android:path="/live.html" />

                <data android:host="@string/data_host" />

                <!--以下测试 host -->
                <!--以下测试 host -->
                <data android:host="@string/data_host_dev" />
                <data android:host="@string/data_host_test" />
                <data android:host="@string/data_host_pre" />
                <data android:host="@string/data_host_real" />
            </intent-filter>
        </activity>

        <!--图集详情页-->
        <activity
            android:name=".photodetail.AtlasDetailActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/data_scheme" />
                <data android:scheme="@string/data_scheme_https" />

                <data android:path="/album.html" />

                <data android:host="@string/data_host" />

                <!--以下测试 host -->
                <!--以下测试 host -->
                <data android:host="@string/data_host_dev" />
                <data android:host="@string/data_host_test" />
                <data android:host="@string/data_host_pre" />
                <data android:host="@string/data_host_real" />
            </intent-filter>
        </activity>

        <!--专题详情页-->
        <activity
            android:name=".subject.SpecialActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/data_scheme" />
                <data android:scheme="@string/data_scheme_https" />

                <data android:path="/subject.html" />

                <data android:host="@string/data_host" />

                <!--以下测试 host -->
                <!--以下测试 host -->
                <data android:host="@string/data_host_dev" />
                <data android:host="@string/data_host_test" />
                <data android:host="@string/data_host_pre" />
                <data android:host="@string/data_host_real" />
            </intent-filter>
        </activity>

        <!--话题详情页-->
        <activity android:name=".topic.ActivityTopicActivity"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/data_scheme" />
                <data android:scheme="@string/data_scheme_https" />

                <data android:path="/topic.html" />

                <data android:host="@string/data_host" />

                <!--以下测试 host -->
                <!--以下测试 host -->
                <data android:host="@string/data_host_dev" />
                <data android:host="@string/data_host_test" />
                <data android:host="@string/data_host_pre" />
                <data android:host="@string/data_host_real" />
            </intent-filter>
        </activity>

        <!--专题列表-->
        <activity android:name=".subject.SpecialListActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/data_host"
                    android:path="/detail/SpecialListActivity"
                    android:scheme="@string/data_scheme" />
            </intent-filter>
        </activity>

        <!--官员详情页-->
        <activity android:name=".persionaldetail.PersionalDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/data_scheme" />
                <data android:scheme="@string/data_scheme_https" />

                <data android:path="/gy.html" />
                <data android:path="/persionaldetail/PersionalDetailActivity" />
                <!--以下测试 host -->
                <data android:host="@string/data_host" />
                <data android:host="@string/data_host_dev" />
                <data android:host="@string/data_host_test" />
                <data android:host="@string/data_host_pre" />
                <data android:host="@string/data_host_real" />

            </intent-filter>
        </activity>

        <!--官员新闻列表-->
        <activity android:name=".persionaldetail.PersionalListActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/data_scheme" />
                <data android:scheme="@string/data_scheme_https" />

                <data android:path="/gy_list.html" />
                <!--以下测试 host -->
                <data android:host="@string/data_host_dev" />
                <data android:host="@string/data_host_test" />
                <data android:host="@string/data_host_pre" />
                <data android:host="@string/data_host_real" />
            </intent-filter>
        </activity>

        <!--评论列表-->
        <activity
            android:name=".comment.CommentActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/data_host"
                    android:path="/detail/CommentActivity"
                    android:scheme="@string/data_scheme" />

            </intent-filter>
        </activity>

    </application>

</manifest>
